.index {
    width: 1024px;
    margin: 0px auto;
}

.content-view {
    margin: 32px 0px;
    
}

h1, h2, h3 {
    padding-bottom: 8px;
    border-bottom: 1px solid #dddddd;
}

code {
    padding: 16px;
    font-family: Consolas;
    background-color: #f8f8f8;
    display: block;
}
